@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(page_background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera{
    background-color: #fafafa01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    height: 70px;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 600px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.logo:hover{
    color: black;
    font-size: 33px;
    transition: 0.5s;
}


.logo img{
    height: 55px;
    margin-right: 18px;
    border: 2.5px solid white;
    border-radius: 100%;
    margin-left: 50px;
}

.logo img:hover{
    height: 50px;
    margin-right: 10px;
    transition: 0.5s;
}

.navegacion a{
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.navegacion a:hover{

    color: black;
    transition: 0.7s;
}

.login{
    border: 4px solid rgb(0, 144, 163);
    background-color: rgb(0, 120, 136);
    border-radius: 10px;
    padding: 5px 8px;
}

.login:hover{
    border-color: rgb(182, 180, 180);
    background-color: white;
    color: black;
}

.principio{
    width: 45rem;
    height: 30rem;
    border: 3px solid #fafafa10;
    margin-top: 25px;
    border-radius: 1rem;
}

.principal_div{
    background-color: fafafa01;
    position:absolute;
    top: 250px;
    left: 52%;
    width: 620px;
    height: 240px;
    font-size: 46px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
}

.principal_logo{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 100px;
    left: 12%;
    border-radius: 50%;
    box-sizing: content-box;
}

.loguito{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}



