*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(solar-system-2939560_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.cabecera{
    background-color: #0a141d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    height: 70px;
    
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 600px;
    font-size: 30px;
}

.logo img{
    height: 55px;
    margin-right: 10px;
    border: 2.5px solid white;
    border-radius: 100%;
    margin-left: 50px;
}

.navegacion a{
    margin-right: 25px;
    color: white;
    text-decoration: none;
}

.navegacion a:hover{

    color: rgb(0, 224, 240);
    transition: 0.7s;
}

.login{
    border: 4px solid white;
    border-radius: 10px;
    padding: 5px 8px;
}

.login:hover{
    border-color: cyan;
}

.logo img:hover{
    height: 50px;
    margin-right: 10px;
}

.principio{
    width: 45rem;
    height: 30rem;
    border: 3px solid #fafafa10;
    margin-top: 25px;
    border-radius: 1rem;
}

.target{
    background-color: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    margin-left: 10px;
    padding-top: 20px;
}

.initial_target{
    background-color: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin-left: 10px;
    
}

.parrafo{
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    font-family: 'Brush Script MT', cursive;
}

.final_page{
    background-color: #0a141d;
    margin-top: auto;
    height: 75px;
}

