{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/login.css' %}">
    <script src="https://kit.fontawesome.com/420cfce002.js" crossorigin="anonymous"></script>

</head>
<body>

    <header class="cabecera">
        <a href="" class="logo">
            <img src="{% static 'energy/img/logo.jpeg' %}" alt="">
            FORANIX
        </a>
        <nav class="navegacion">
            <ul>
                <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'nosotros' %}">Sobre </a>
                <a href="{% url 'contactos' %}">Contactos</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'cerrarSesion' %}"  class="login">Cerrar sesion</a>
                {% else %}
                    <a href="{% url 'login' %}" class="login">Iniciar Sesion</a>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>