Django==5.0.2
dj-database-url==2.1.0
djangorestframework==3.14.0
numpy==1.26.4
psycopg2==2.9.9
psycopg2-binary==2.9.9
sympy==1.12
weasyprint==61.0
whitenoise==6.6.0
markdown==3.5.2
django-filter==23.5
