*{
    background-color: rgb(57, 88, 115);
    box-shadow: none;
    text-decoration: none;
}
::placeholder{
    color: rgb(223, 218, 212);
}

.divLogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(118, 135, 151);
    width: 400px;
    height: 400px;
    padding: 80px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: cambria;
    align-items: flex-start;

}
.divLogin2{
    background: none;
    
}
.username{
    color: white;
    height: 4vh;
    width: 97%;
    position: relative;
    margin: 10px 0;
}
.password{
    color: white;
    position: relative;
    margin: 10px 0;
    height: 4vh;
    width: 97%;
}
.login{
    color: antiquewhite;
    margin: 10px 0;
    margin-left: 35%;
    border-radius: 20px;
    background-color: rgb(100, 124, 146);
    margin-top: auto;
    padding: 1vh 4vh;
}
.login:hover{
    background-color: rgb(57, 88, 115);
    color: antiquewhite;
    border: 1px solid antiquewhite;
}
h1{
    background: none;
    text-align: center;
    font-style: italic; 
}
.register{
    text-align: left;
    background: none;
    text-align: center;
    color: antiquewhite;
    margin-left: 80%;
}