body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Color de fondo oscuro */
    color: #fff; /* Color de texto claro */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #444; /* Color de fondo del contenedor */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido */
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff; /* Color de texto claro */
}

.profile-box {
    padding: 20px;
    background-color: #555; /* Color de fondo del perfil */
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: left; /* Alinea el formulario a la izquierda */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #888; /* Color del borde más claro */
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #666; /* Color de fondo del input */
    color: #fff; /* Color de texto claro */
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Color azul brillante */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto; /* Centra el botón horizontalmente */
    display: block; /* Para que ocupe todo el ancho disponible */
}

button:hover {
    background-color: #0056b3; /* Color azul oscuro al pasar el ratón */
}
