*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #050d18;
    background-image: url(../../img/pantalla.jpeg);
    background-size: cover;
    background-attachment: fixed;
    
}

.container{
    background-color: #050d18;
    width: 800px;
    height: 480px;
    color: #d4e3ff;
    justify-content: center;
    align-items: center;
    font-family: 'Livvic', sans-serif;
    border-radius: 10px;
}

.content{
    height: 480px;
    background-color: #0a1d35;
    color: #d4e3ff;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem #cdc2c2);
}

.content h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content input{
    width: 70%;
    min-width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 60px;
    padding-left: 20px;
}

.texto{
    margin-top: 20px;
    margin-bottom: 40px;
    height: 170px;
    text-align: left;
}

.volver{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    border-radius: 60px;
    background-color: #d4e3ff;
    color: #050d18;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.volver:hover{
    background-color: #18305c;
    color: #d4e3ff;
}

.volver a{
    text-decoration: none;
    color: #050d18;
}

