*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

body{
    background-color:  #050d18;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e0daf7;
    width: 100%;
    height: 100px;
    border-bottom: 3px solid #d3e2ff;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation img{
    display: flex;
    height: 100%;
    width: 150px;
    margin-right: 20px;
}

.presentation .description h1{
    display: inline-block;
    color: #d3e2ff;
}

.nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.nav ul li :hover{
    color: #1f5fdf;
    transition: 0.2s;
}

.nav ul li a{
    text-decoration: none;
    color: #d3e2ff;
    font-size: 20px;
    font-weight: 600;
}

.nav ul li a i{
    margin-right: 10px;
}

/*botones y grafica de consumo, pa no olvidarme*/ 

.background{
    display: flex;
    width: 100%;
    justify-content: center;
}

.box{
    display: flex;
    margin-top: 30px;
    width: 90%;
}

.botones{
    display: flex;
    justify-content: center;
    width: 30%;
    
}

@media screen and (max-width: 600px) {
    .botones {
        display: none; /* Oculta el div cuando la pantalla es más pequeña que 600px */
    }
}

.contenedor_botones{
    width: 90%;
    height: 100%;
}

.botones .contenedor_botones div{
    width: 100%;
    height: 100px;
    border: 2px solid #d3e2ff;
    margin: 70px 0;
}

.contenedor_botones div{
    display: flex;
    border: 2px solid #fafafa01;
    padding: 10px;
    width: 100%;
    height: 100px;
    text-align: center;
    color: #d3e2ff;
    font-weight: 600; 
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #060d21;
    box-shadow: inset 0px 0px 10px 0 #d3e2ff;
}

.contenedor_botones div a{
    text-decoration: none;
    color: #d3e2ff;
}

.contenedor_botones div i{
    margin-right: 10px;
}

.contenedor_botones div a:hover{
    color: #1f5fdf;
    font-size: 18px;
    transition: 0.2s;
}

.consumo_hoy{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 8px;
    contain: content;
}

.graficaProyeccion {
    width: 90%;
    height: 80%;
    margin-right: 20px;
    border: 2px solid #0055ff;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 4px;
}

/*aqui voy a empezar el modo oscuro, no se 
asusten si esta muy largo solo es repetir
las etiquetas con otros colores*/

.switch{
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 100px;
    border: #fff solid 2px;
    background-color: #132b41;

}


@media screen and (max-width: 780px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}   


@media screen and (max-width: 680px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}   


@media screen and (max-width: 580px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}   

@media screen and (max-width: 480px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}   


@media screen and (max-width: 380px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}   

@media screen and (max-width: 280px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}   



@media screen and (max-width: 180px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}   

@media screen and (max-width: 250px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}   