{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'energy/css/artefacto.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500;600&family=Roboto:ital,wght@0,700;1,900&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
     <nav class="menu">
                <a href="{% url 'cerrarSesion' %}">Cerrar Sesion</a>
                <a href="{% url 'paginaUsuario' %}">Inicio</a>
                <a href="{% url 'proyecciones' %}">Ver Consumo</a>
                <a href="{% url 'inventario' %}">Inventario</a>
     </nav>
 <h1>Artefactos</h1>
<section class="formCrearArtefactos">
    <h2>Crear Nuevo Artefacto</h2>
    <h3>{{ error }}</h3>
    <form method="post" action="{% url 'artefacto' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Guardar Artefacto</button>
    </form>
</section>


<section class="tablaDeLosArtefactos">
<h2>Artefactos</h2>
<table>
  <tr>
    <th>Nombre del artefacto</th>
    <th>Consumo del artefacto</th>
    <th>Horas de consumo</th>
    <th>Acciones</th>

  </tr>
  {% for artefacto in artefactos %}
    <tr>
        <td>{{ artefacto.nombreArtefacto }}</td>
        <td>{{ artefacto.consumoWH }} W/h</td>
        <td>{{ artefacto.horasDeUso }} hrs</td>
        <td class="acciones">
        <form method="post" action="{% url 'eliminarArtefacto' artefacto.id %}">
          {% csrf_token %}
          <button type="submit">Eliminar</button>
        </form>
        </td>
  {% endfor %}
</table>

</section>


</body>
</html>