<!DOCTYPE html> 
<html lang="en"> 
<head> 
    {% load static %} 
    <meta charset="UTF-8"> 
    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/modo_oscuro/mo_estilo_cambio_contrasenia.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,700;1,900&display=swap" rel="stylesheet"> 
    <title>Cambiar contraseña</title> 
    
</head> 
<body> 
<div class="container"> 
    <div class="content"> 
        <h1>Cambio de contraseña</h1> 
        
          <form method="POST">
            {% csrf_token %}
              {{ form.as_p }}
             <input type="submit" value="Cambiar">
          </form>
    </div> 
    <button class="volver" href="{% url 'home'%}">volver</button>
</div> 
 
</body> 
</html>