<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/modo_oscuro/mo_estilo_cambio_contrasenia.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,700;1,900&display=swap" rel="stylesheet">
    <title>Cambiar contraseña</title>
</head>
<body>
<div class="container">
    <div class="content">
        <h1>Olvidaste tu contreaseña?</h1>
        <div class="texto">
            <p>Para poder restablecer la contraseña se requeriere
                que ingreses el correo electrónico con el que te registraste.<br>
                Se te enviará un correo con un enlace para restablecer la contraseña.
                antes de continuar toma en cuenta lo siguiente:<br><br>
                - una vez que ingreses el correo electrónico y envíes la solicitud no podrás enviar otra solicitud <br>
                    hasta que hayas restablecido la contraseña.<br>
                - el enlace que se te enviará solo será válido por 24 horas.<br>
                - si no recibes el correo electrónico revisa la carpeta de spam o correo no deseado.<br>
                - no podras volver a usar tu antigua contraseña.<br>
            </p>
        </div>

        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Enviar Correo">
        </form>
    </div>
    <button class="volver">
        <a href="{% url 'login' %}">volver</a>
    </button>
</div>

</body>
</html>