<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/inicial.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Livvic&family=Roboto:ital,wght@0,700;1,900&display=swap');
        
    </style>
    <title>Data Analyzer</title>
    <link rel="stylesheet" href="{% static 'energy/css/descripcionPaginaInicio.css' %}">
</head>
<body>
        <div class="contenedor">
            <div class="contenido">
                <img src="{% static 'energy/img/Foranix_SinFondo.png' %}" alt="">
                <p>Data Analizer</p>
            </div>
            <div class="botones">
                <div class="login">
                    <a href="{% url 'login' %}" >
                        <span class="material-symbols-outlined">
                        login
                        </span>
                    </a>
                    <a class="boton"><p>Iniciar Sesión</p></a>
                </div>
                <div class="registrate">
                    <a href="{% url 'registro' %}" >
                        <span class="material-symbols-outlined">
                            how_to_reg
                        </span>
                    </a>
                    <a class="boton"><p>Registrate</p></a>
                </div> 
            </div>
        </div>
    <div class="separacion">
        <div class="dropdown" onclick="toggleDropdown()">

            <div class="dropdown-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        
            <div class="dropdown-content" id="dropdownContent">
                <a href="{% url 'mapa_ubicaciones' %}" title="Usuarios que utilizan nuestra app"> 
                    <i class="fa-solid fa-map-location-dot"></i> nuestros usuarios
                </a>
                <a href="https://bradley-alexander.github.io/index.html">
                    <i class="fa-solid fa-circle-info"></i> pagina de información
                </a>
                <a href="https://foranix.pythonanywhere.com/api">
                    <i class="fas fa-life-ring"></i> nuesta API
                </a>
                <a href="{% url 'nosotros' %}">
                    <i class="fa-solid fa-people-line"></i> acerca de nosotros
                </a>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="logo-footer">
            <img src="{% static 'energy/img/Foranix_SinFondo.png' %}" alt="">
        </div>
        <div class="descripcion-footer">
            <p>Proyecto de gestión energético elaborado por grupo FORANIX de la Universidad Nacional de Loja 
            </p>
            <p><b>Correo: </b>foranix2023@gmail.com</p>
            <p>&copy; 2023 - Todos los derechos reservados</p>
        </div>

        <div class="redes-footer">
            <ul>
                <li class="instagram"><a href="https://www.instagram.com/foranix?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
            </ul>
        </div>

    </div>
  
  <!-- Agrega FontAwesome para los iconos -->
  <script src="https://kit.fontawesome.com/420cfce002.js" crossorigin="anonymous"></script>
  
  <script>
    function toggleDropdown() {
      const dropdown = document.getElementsByClassName('dropdown')[0];
      dropdown.classList.toggle('active');
    }
  </script>
  
</body>
</html>
