
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/estilos_index.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="imagen_principal">
        <img src="{% static 'energy/img/Foranix_sin fondo.png'%}" alt="">
    </div>
    <div class="botones">
        <a href="{% url 'login' %}" class="boton">Iniciar Sesion</a>
        <a href="{% url 'registro' %}" class="boton">Registrarse</a>
</body>
</html>