<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    {% if  request.user.modoclaro.modo_claro %}
    <link rel="stylesheet" href="{% static 'energy/css/modo_claro/mc_informe2.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'energy/css/modo_oscuro/mo_informe.css' %}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500&family=Rosarivo:ital@0;1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Data Analyzer</title>
</head>

<body>

    <nav class="menu">
        <a href="{% url 'paginaUsuario' %}">Inicio</a>
        <a href="{% url 'inventario' %}">Inventario</a>
        <a href="{% url 'proyecciones' %}">Ver Consumo</a>
        <a href="{% url 'cerrarSesion' %}">Cerrar Sesión</a>
        <li id="mostrarLista"> Mostrar Menú </li>
    </nav>

    <div id="listaOculta" class="opcionesLista" style="display: none;">
        <ul id="listaNumeros">
            <li><a href="{% url 'paginaUsuario' %}">Inicio</a></li>
            <li><a href="{% url 'inventario' %}">Inventario</a></li>
            <li><a href="{% url 'proyecciones' %}">Ver Consumo</a></li>
            <li><a href="{% url 'cerrarSesion' %}">Cerrar Sesión</a></li>
            
        </ul>
    </div>


    <!--Este script es para mostrar y ocultar el menu en pantallas pequeñas-->
        <!--no quitar-->

    <script>
        document.getElementById('mostrarLista').addEventListener('click', function() {
        var lista = document.getElementById('listaOculta');
        if (lista.style.display === 'none') {
            lista.style.display = 'block';
            
            
            
        } else {
            lista.style.display = 'none';
            
        }
        });


        function hideListOnLargeScreen() {
        var lista = document.getElementById('listaOculta');
            if (window.innerWidth > 768) {
                lista.style.display = 'none';
            }
        }

        hideListOnLargeScreen();
        window.addEventListener('resize', hideListOnLargeScreen);
    </script>

    <div class="datosUsuario">
        <img src="{% static 'energy/img/FORANIX-sinFondo2.png' %}" alt="">
        <div class="description">
            <h2>Cliente: <p>{{ user.first_name }} {{ user.last_name }}</p></h2>
            <h2>Correo: <p>{{ user.email }}</p></h2>
        </div>
    </div>

    <div class="contenedorTabla">
        <table>
            <tr>
                <th>FECHA</th>
                <th>CONSUMO (Kw/h)</th>
            </tr>
            {% for consumo in consumoDiario %}
            <tr>
                <td>{{ consumo.dia }}</td>
                <td>{{ consumo.consumo_total }} W</td>
            </tr>
            {% endfor %}
            <tr>
                <th>TOTAL CONSUMO</th>
                <th>{{ consumoTotalMensual }} Kw</th>
            </tr>
        </table>
    </div>

    <a href="{% url 'imprimirPDF' %}" class="export-button">
        <i class="fas fa-file-export"><p>Exportar el informe</p></i> 
    </a>

    <footer>
        <nav class="navbarContactos">
            <ul class="contactos">
                <li><a href="{% url 'nosotros' %}">Sobre nosotros</a></li>
                <li><a href="https://www.instagram.com/foranix/">Instagram</a></li>
                <li><a href="https://github.com/SantiagoTamayo2002/energy_page#energy_page">Github</a></li>
                <li><a href="https://www.unl.edu.ec/">Universidad Nacional de Loja</a></li>
            </ul>
        </nav>
        <p>&copy; 2023 - Todos los derechos reservados</p>
    </footer>

    <!-- Incluir tu archivo JavaScript al final del cuerpo del documento -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const hamburger = document.querySelector('.hamburger');
            const menu = document.querySelector('.menu');

            hamburger.addEventListener('click', function () {
                menu.classList.toggle('open');
                hamburger.classList.toggle('menu-open');
            });
        });
    </script>
</body>

</html>
