{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'energy/css/modo_oscuro/mo_inicio_sesion.css' %}">
  <script src="https://kit.fontawesome.com/420cfce002.js" crossorigin="anonymous"></script>
  <title>Login</title>
</head>
<body>
  <div class="navigator">
    <div class="menu">
      <ul>
        <li><a href="{% url 'home' %}"><i class="fa-solid fa-right-from-bracket"></i>Salir</a></li>
      </ul>
    </div>
  </div>
  
  <div class="contenedor-padre">
    <div class="login-box">
      <div class="imagen_presentacion">
        <img src="{% static 'energy/img/logo.jpeg' %}" alt="Logo">
      </div>
      <h1>Iniciar sesión</h1>
      {{ error }}
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar Sesión</button>
        <a href="{% url 'reset_password' %}">¿Olvidaste tu contraseña?</a>
        <a href="{% url 'registro' %}">Registrarse</a>
      </form>
    </div>
  </div>

  {% if messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
          {% if message.tags == 'success' %}
            Swal.fire({
              title: 'Mensaje',
              html: '{{ message|safe }}',
              icon: 'success',
              confirmButtonText: 'Aceptar'
            });
          {% elif message.tags == 'error' %}
            Swal.fire({
              title: 'Mensaje',
              html: '{{ message|safe }}',
              icon: 'error',
              confirmButtonText: 'Aceptar'
            });
          {% elif message.tags == 'warning' %}
            Swal.fire({
              title: 'Mensaje',
              html: '{{ message|safe }}',
              icon: 'warning',
              confirmButtonText: 'Aceptar'
            });
          {% endif %}
        {% endfor %}
      });
    </script>
  {% endif %}
</body>
</html>
