{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" href="{% static 'energy/css/inventario.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500&family=Rosarivo:ital@0;1&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="styles.css"-->>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500;600&family=Roboto:ital,wght@0,700;1,900&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="menu"> 
        <a href="{% url 'paginaUsuario' %}">Inicio</a>
        <a href="{% url 'proyecciones' %}">Ver Consumo</a>
        <a href="{% url 'informe' %}">Generar Informe</a>
        <a href="{% url 'cerrarSesion' %}">Cerrar Sesion</a>
        
        <span></span>
    </nav>

    <div class="contenedor">
        <div class="formulario">
            <div class="form_content">
                <form method="post" action="{% url 'inventario' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Guardar</button>
                  </form>
                <div>
                  <h4>{{ error }}</h4>
                </div>
            </div>
            <div class="form_buttons">
                <button type="submit" ><a href="{% url 'artefacto' %}">Agregar Artefacto</a></button>
                <button type="submit"><a href="{% url 'eliminarInventario' %}"> Empezar de 0</a></button>
            </div>
        </div>
    </div>
    

<section class="section">
    <h1>Datos del Consumo Diario</h1>
<table>
  <tr>
      <th>Dia</th>
      <th>Nombre del artefacto</th>
      <th>Cantidad de Artefactos</th>
      <th>Horas de uso</th>
      <th>Consumo del artefacto</th>
      <th>Consumo de los artefactos</th>
      <th>Acciones</th>

  </tr>
  {% for inventario in inventario_artefacto %}
    <tr>
        <td>{{ inventario.dia }}</td>
        <td>{{ inventario.artefacto.nombre_artefacto }}</td>
        <td>{{ inventario.cantidad_artefacto }}</td>
        <td>{{ inventario.artefacto.horas_de_uso }} hrs</td>
        <td>{{ inventario.artefacto.consumo_wh }} W/h</td>
        <td>{{ inventario.consumo_artefacto }} W/h</td>
        <td>
        <form method="post" action="{% url 'eliminarArtefactoInventario' inventario.id %}">
          {% csrf_token %}
          <button type="submit">Eliminar</button>
        </form>
        </td>
    </tr>
  {% endfor %}
</table>

</section>





</body>
</html>
