{% load static %} <!-- Cargar archivos estáticos -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'energy/css/apoyo1.css' %}">


  <title>Login</title>
</head>

<body>
  <div class="navigator">
    <div class="logo">
      <img src="{% static 'energy/img/FORANIX-SinFondo2.png' %}" alt="logo">
    </div>
    <div class="menu">
      <ul>
        <li><a href="{% url 'home' %}"><i class="fa-solid fa-right-from-bracket"></i>Salir</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="informacion">
        <div class="informacion-childs">
          <h1>Regístrate</h1>
          <p>Para poder acceder a la plataforma y utilizar nuestro asombroso servicio</p>
          <a href="{% url 'registro' %}" class="join-link">Únete a nosotros</a>

        </div>
      </div>
      <div class="form-information">
        <div class="form-information-childs">
          <h1>Iniciar sesión</h1>

          {{ error }}
          <form method="POST">
            {% csrf_token %}

            <div class="form-fields">
              {{ form.username.label_tag }}
              {{ form.username }}
              <br>
              {{ form.password.label_tag }}
              {{ form.password }}
            </div>

            <button type="submit" class="login-button">Iniciar Sesión</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>

</html>

