<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500;600&family=Roboto:ital,wght@0,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'energy/css/pagina_usuario.css' %}">
    <script src="https://kit.fontawesome.com/420cfce002.js" crossorigin="anonymous"></script>
    <title>Inicio</title>
    <style>
        
      </style>


</head>
<body>
    <div class="header">
        <div class="logo">
            <div class="presentation">
                <img src="{% static 'energy/img/Foranix_SinFondo.png' %}" alt="">
                <div class="description">
                    <h1>Data Analizer</h1>
                </div>
            </div>  
        </div>
        <div class="nav">
            <ul class="listado">
                <li class="apoyo"><a href="{% url 'cerrarSesion' %}">salir<i class="fa-solid fa-right-from-bracket"></i></a></li>
                <li class="switch">
                    <i class="fa-solid fa-sun"></i>
                    <i class="fa-solid fa-moon"></i>
                </li>
            </ul>
        </div>
    </div>
    <div id="hamburguesa">&#9776;</div>


    <div id="menu">
        <div class="contenedor_botones">
            <div class="loco_1">
                <a href="{% url 'artefacto' %}"><i class="fa-solid fa-circle-plus"></i>Agregar artefacto</a>
            </div>
            <div class="loco_2">
                <a href="{% url 'inventario' %}"><i class="fa-solid fa-list-check"></i>Gestionar consumo</a>
            </div>
            <div class="loco_3">
                <a href="{% url 'informe' %}"><i class="fa-solid fa-file-export"></i>Generar reporte</a>
            </div>
        </div>    
    </div>

    <script>
        document.getElementById("hamburguesa").addEventListener("click", function() {
            var menu = document.getElementById("menu");
            if (getComputedStyle(menu).display === "none") {
                menu.style.display = "block";
            } else {
                menu.style.display = "none";
            }
        });

        window.addEventListener("resize", function() {
            var menu = document.getElementById("menu");
            var hamburguesa = document.getElementById("hamburguesa");

            // Si la pantalla es más grande que 600px y el menú está visible, lo ocultamos
            if (window.innerWidth > 600 && getComputedStyle(menu).display === "block") {
                menu.style.display = "none";
            }
        });

    </script>


    <div class="background">
        
        <div class="box">
            <div class="botones">
                <div class="contenedor_botones">
                    <div class="loco_1">
                        <a href="{% url 'artefacto' %}"><i class="fa-solid fa-circle-plus"></i>Agregar artefacto</a>
                    </div>
                    <div class="loco_2">
                        <a href="{% url 'inventario' %}"><i class="fa-solid fa-list-check"></i>Gestionar consumo eléctrico</a>
                    </div>
                    <div class="loco_3">
                        <a href="{% url 'informe' %}"><i class="fa-solid fa-file-export"></i>Generar reporte</a>
                    </div>
                </div>
            </div>
            <div class="consumo_hoy">
                <div id="graficoConsumoActual" class="graficaProyeccion">
                </div>
                <div id="infoBox"> En la Gráfica se muestra los días de consumo en estos último días, en el eje Y tenemos el Consumo dado en (W/h) y en el eje X los dias</div>
                <button class="btnGrafico" id="informacion">saber mas</button>
            </div>
        </div>
    </div>
    <footer>
        <nav class="navbarContactos">
            <ul class="contactos">
                <li><a href="{% url 'nosotros' %}">Sobre nosotros</a></li>
                <li><a href="https://www.instagram.com/foranix/">Instagram</a></li>
                <li><a href="https://github.com/SantiagoTamayo2002/energy_page#energy_page">Github</a></li>
                <li><a href="https://www.unl.edu.ec/">Universidad Nacional de loja</a></li>
            </ul>
        </nav>
        <p>&copy; 2023 - Todos los derechos reservados</p>
    </footer>
    <!-- Apache ECharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <!-- Tu archivo de script para las gráficas -->
    <script src="{% static 'energy/js/grafica.js' %}"></script>
    <script src="{% static 'energy/js/app.js' %}"></script>
    <script src="{% static 'energy/js/btnInformation.js' %}"></script>
</body>
</html>

