{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/modo_oscuro/mo_registroForanix.css' %}">
    <script src="https://kit.fontawesome.com/420cfce002.js" crossorigin="anonymous"></script>
    <title>Registro</title>
   
</head>
<body>
    <div class="navigator">
        <div class="menu">
            <ul>
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-right-from-bracket"></i>Salir</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="informacion">
                <div class="informacion-childs">
                    <h1>Registrate</h1>
                    <p>Para poder acceder a la plataforma y utilizar nuestro asombroso servicio</p>
                    <a href="{% url 'login' %}">Iniciar Sesion</a>
                </div>   
            </div>
            <div class="form-information">
                <div class="form-information-childs">
                    <h1>Crear una cuenta</h1>

                    {{ error }}
                    <form method="POST">
                        {% csrf_token %}

                        <div class="lastname">
                            <input type="text" name="username" placeholder="Nombre de Usuario" autofocus="" minlength="5" maxlength="150" pattern="[a-zA-Z0-9]+" required="" id="id_username" data-listener-added_bae381fc="true">
                            
                        </div>
                    <div class="lastname" >
                        {{ form.first_name }}
                    </div>
                    <div class="lastname">
                        {{ form.last_name }}
                    </div>
                    <div class="lastname" >
                        {{ form.email }}
                    </div>
                    <div class="lastname" >
                        
                        <input type="password" name="form.password1" placeholder="Contraseña" minlength="5" maxlength="150" pattern="[a-zA-Z0-9]+" required="" id="id_password" data-listener-added_bae381fc="true">
                    </div>
                    <div class="lastname">
                        <input type="password" name="password2" placeholder="Confirme la contraseña" minlength="5" maxlength="150" pattern="[a-zA-Z0-9]+" required="" id="id_password" data-listener-added_bae381fc="true">
                        
                    </div>
                        <input type="hidden" id="latitud" name="latitud">
                        <input type="hidden" id="longitud" name="longitud">
                        <button>Registrarse</button>
                    </form>
                </div>   
            </div>
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                // Llenar los campos ocultos con los datos de ubicación
                document.getElementById('latitud').value = latitude;
                document.getElementById('longitud').value = longitude;
            });
        } else {
            console.log("Geolocalización no es compatible en este navegador.");
        }
    });
</script>

{% if messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
          {% if message.tags == 'success' %}
            Swal.fire({
              title: 'Mensaje',
              html: '{{ message|safe }}',
              icon: 'success',  // Puedes cambiar 'success' por 'info', 'warning', o 'error' según el tipo de mensaje que desees mostrar
              confirmButtonText: 'Aceptar'
            });
          {% elif message.tags == 'error' %}
            Swal.fire({
              title: 'Mensaje',
              html: '{{ message|safe }}',
              icon: 'error',  // Puedes cambiar 'success' por 'info', 'warning', o 'error' según el tipo de mensaje que desees mostrar
              confirmButtonText: 'Aceptar'
            });
          {% elif message.tags == 'warning' %}
            Swal.fire({
              title: 'Mensaje',
              html: '{{ message|safe }}',
              icon: 'warning',  // Puedes cambiar 'success' por 'info', 'warning', o 'error' según el tipo de mensaje que desees mostrar
              confirmButtonText: 'Aceptar'
            });
          {% endif %}
        {% endfor %}
      });
    </script>
{% endif %}
</body>
</html>