<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'energy/css/registerStyle.css'%}">
    <script src="https://kit.fontawesome.com/420cfce002.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>
    <div class="navigator">
        <div class="logo">
            <img src="{% static 'energy/img/logo.png'%}" alt="logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">volver</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="informacion">
                <div class="informacion-childs">
                    <h1>Registrate</h1>
                    <p>Para poder acceder a la plataforma y utilizar nuestro asombroso servicio</p>
                    <a href="{% url 'login' %}">Iniciar Sesion</a>
                </div>   
            </div>
            <div class="form-information">
                <div class="form-information-childs">
                    <h1>Crear una cuenta</h1>
                    <div class="icons">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>

                    <p class="usar">o usa tu email para registrarte</p>
                    
                    {{ error }}
                    <form method="POST">
                        {% csrf_token %}
                    
                      {{ form.username.label_tag }}
                      {{ form.username }}
                      <br>
                      {{ form.first_name.label_tag }}
                      {{ form.first_name }}
                    
                      <br>
                      {{ form.last_name.label_tag }}
                      {{ form.last_name }}
                    
                        <br>
                      {{ form.email.label_tag }}
                      {{ form.email }}
                      <br>
                    
                      {{ form.password1.label_tag }}
                      {{ form.password1 }}
                      <br>
                    
                      {{ form.password2.label_tag }}
                      {{ form.password2 }}
                      <br>
                        <button>Registrarse</button>
                        <a href="{% url 'login' %}">Iniciar Sesion</a>
                    </form>
                </div>   
            </div>
        </div>
    </div>
</body>
</html>