{%load static%}
<!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500&family=Rosarivo:ital@0;1&display=swap"
            rel="stylesheet">
    
        <title>ForanixPage</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="{% static 'energy/css/estilos_sobreNosotros2.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    </head>
    
    <body>
        <main id="blog">
            <div class="contenedor2">
                <aside>
                    <h3 class="titulo">Contactanos</h3>
                    <div class="contenedor-logos">
                        <a href="https://www.unl.edu.ec/"><i class="fa-solid fa-school"></i></a>
                        <a href="https://www.instagram.com/foranix/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/SantiagoTamayo2002/energy_page#energy_page"><i class="fa-brands fa-github"></i></a>
                        <a href="#" id="correo"><i class="fa-solid fa-arrow-up"></i></a>
                    </div>
                </aside>
                
                <div class="contenido">
                    <div class="post">
                        <h1 class="titulo">FORANIX</h1>
                        <p class="fecha">Publicado el 16 de Noviembre de 2023</p>
                        <p>
                            El nombre "Foranix" se deriva del término "foráneo" debido a que todos los miembros
                            de nuestro grupo provienen de regiones fuera de la provincia.
                            Nuestro grupo de estudio se dedica a respaldar proyectos destinados a abordar cuestiones
                            sociales relacionadas con el ámbito computacional. Nuestros valores fundamentales dentro
                            del grupo son la Responsabilidad, Solidaridad, Respeto y Ética, ya que consideramos que
                            estos valores son indispensables para formar profesionales comprometidos con el bienestar
                            colectivo. <br><br>
    
                            En la Universidad Nacional de Loja, nos unimos en torno a un propósito común:
                            contribuir a la solución de los problemas que aquejan a la sociedad.
                            Lo logramos a través de proyectos como el presente, que busca generar conciencia
                            sobre el consumo de energía eléctrica y promover un cambio en nuestros hábitos de
                            consumo con el fin de colaborar en la optimización de los recursos naturales y garantizar
                            un planeta más saludable para las futuras. generaciones.<br><br>
    
                            Te invitamos a explorar más acerca de la vida personal y experiencias individuales
                            de cada uno de nuestros integrantes. Cada uno de nosotros aporta un bagaje único de
                            conocimientos,
                            habilidades y perspectivas que enriquecen nuestro grupo "Foranix". Descubrirás historias
                            inspiradoras,
                            intereses diversos y motivaciones personales que nos impulsan a trabajar juntos en la búsqueda
                            de soluciones
                            para los desafíos de nuestra sociedad. Conócenos más a fondo y únete a nuestra comunidad para
                            ser parte de
                            esta misión conjunta de crecimiento y contribución.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    
    
    
    
        <!--ESTRUCTUR DEL BOTON MODAL-->
<div class="contenedor">
            <label for="btn-perfil1">
                <div class="perfil1">
                    <img src="{% static 'energy/img/personLogo.png' %}" aling="left" class="imagenChiquita">
                    <p class="texto">Christian Robles</p>
                </div>
            </label>
            <!--FIN BOTON MODAL-->
            <!--VENTANA FLOTANTE-->
            <input type="checkbox" id="btn-perfil1">
            <div class="container-modal">
                <div class="content-modal">
                    <h2>Christian Robles</h2>
                    <!------------------------------------------------------------------------------------------------>
                    <P>Hola querido cybernauta, mi nombre es christian robles y soy de la ciudad PUYANGO.<br><br>
                        Me gusta diseñar, desarrollar y programar. Mi pasión viene desde muy pequeño, ya que me gusta crear nuevas cosas y la programación me permite hacerlo.<br><br>
                        Desarrollando este proyecto pude conocer mucho acerca de la programación orientada a objetos, y este proyecto es uno de los sistemas más completos que he realizado. El entusiasmo y las ganas por seguir aprendiendo me han motivado a culminarlo.<br><br>
                        ¡Espero que lo disfruten tanto como nosotros.
                    </P>
                    <div class="btn-cerrar">
                        <label for="btn-perfil1">Cerrar</label>
                    </div>
                    <!--Que el fondo ce cierre-->
                    <label for="btn-perfil1" class="cerrar-modal"></label>
                </div>
                <div class="contenedor-logos">
                    <a href="https://twitter.com/Cris____2005"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.facebook.com/cristian.leonardo.3551/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/leorobles_25/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/Chrisitian-Robles25"><i class="fa-brands fa-github"></i></a>
                    <a href="https://wa.me/qr/AABU3HTEIO52N1"><i class="fa-brands fa-whatsapp"></i></a>
                    <a id="correo"><i class="fa-solid fa-envelope"></i>christian.l.robles@unl.edu.ec</a>
                </div>
            </div>
            <!--FIN VENTANA FLOTANTE-->
    
    

             <!--ESTRUCTUR DEL BOTON MODAL-->
            <label for="btn-perfil2">
                <div class="perfil2">
                    <img src="{% static 'energy/img/personLogo.png' %}" aling="left" class="imagenChiquita">
                    <p class="texto">Esteban Leon</p>
                </div>
            </label>
            <!--FIN BOTON MODAL-->
            <!--VENTANA FLOTANTE-->
            <input type="checkbox" id="btn-perfil2">
            <div class="container-modal2">
                <div class="content-modal">
                    <h2>Esteban Leon</h2>
                    <!------------------------------------------------------------------------------------------------>
                    <P>¡Hola, ciberamigo! Soy Esteban Leon Aguilar, y soy de la ciudad Piñas provincia de El Oro.<br><br>
                        Desde mi infancia, he alimentado mi curiosidad y creatividad explorando el fascinante mundo de la programación. La posibilidad de construir cosas nuevas siempre me ha cautivado<br><br>
                        El proyecto actual en el que estoy inmerso ha sido un emocionante viaje a través de los fascinantes conceptos de la programación orientada a objetos. <br><br>
                        Espero que disfruten explorando este proyecto tanto como yo disfruté creándolo.<br><br> ¡Gracias por ser parte de este emocionante viaje!
                    </P>
                    
                    <div class="btn-cerrar">
                        <label for="btn-perfil2">Cerrar</label>
                    </div>
                    <!--Que el fondo ce cierre-->
                    <label for="btn-perfil2" class="cerrar-modal2"></label>
                </div>
                <div class="contenedor-logos" style="margin-top: -32px;">
                    <a href="https://twitter.com/3steban_4guilar"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100009090439893"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/esteban_4guilar/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/esteban-ll-aguilar"><i class="fa-brands fa-github"></i></a>
                    <a href="https://wa.me/+593993114884"><i class="fa-brands fa-whatsapp"></i></a>
                    <a id="correo"><i class="fa-solid fa-envelope"></i>esteban.leon@unl.edu.ec</a>
                </div>
            </div>
            <!--FIN VENTANA FLOTANTE-->





             <!--ESTRUCTUR DEL BOTON MODAL-->
             <label for="btn-perfil3">
                <div class="perfil3">
                    <img src="{% static 'energy/img/personLogo.png' %}" aling="left" class="imagenChiquita">
                    <p class="texto">Santiago Tamayo</p>
                </div>
            </label>
            <!--FIN BOTON MODAL-->
            <!--VENTANA FLOTANTE-->
            <input type="checkbox" id="btn-perfil3">
            <div class="container-modal3">
                <div class="content-modal">
                    <h2>Santiago Tamayo</h2>
                    
                    <!------------------------------------------------------------------------------------------------>
                    <P>Hola querido cybernauta, mi nombre es _______________ y soy de la ciudad _______________.<br><br>
                        Me gusta desarrollar, diseñar y programar. Mi pasión viene desde muy pequeño, ya que me gusta crear nuevas cosas y la programación me permite hacerlo.<br><br>
                        Desarrollando este proyecto pude conocer mucho acerca de la programación orientada a objetos, y este proyecto es uno de los sistemas más completos que he realizado. El entusiasmo y las ganas por seguir aprendiendo me han motivado a culminarlo.<br><br>
                        ¡Espero que lo disfruten tanto como nosotros.
                    </P>
                    
                    <div class="btn-cerrar">
                        <label for="btn-perfil3">Cerrar</label>
                    </div>
                    <!--Que el fondo ce cierre-->
                    <label for="btn-perfil3" class="cerrar-modal3"></label>
                </div>
                <div class="contenedor-logos">
                    <a href="https://twitter.com/Santiag52195409"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100082821671513"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/santiagotamayo968/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/SantiagoTamayo2002S"><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a id="correo"><i class="fa-solid fa-envelope"></i>manuel.tamayo@unl.edu.ec</a>
                </div>
            </div>
            <!--FIN VENTANA FLOTANTE-->





            
            <!--ESTRUCTUR DEL BOTON MODAL-->
            <label for="btn-perfil4">
                <div class="perfil4">
                    <img src="{% static 'energy/img/personLogo.png' %}" aling="left" class="imagenChiquita">
                    <p class="texto">Bradley Poma</p>
                </div>
            </label>
            <!--FIN BOTON MODAL-->
            <!--VENTANA FLOTANTE-->
            <input type="checkbox" id="btn-perfil4">
            <div class="container-modal4">
                <div class="content-modal">
                    <h2>Bradley Poma</h2>
                    <!------------------------------------------------------------------------------------------------>
                    <P>Hola querido cybernauta, mi nombre es _______________ y soy de la ciudad _______________.<br><br>
                        Me gusta desarrollar, diseñar y programar. Mi pasión viene desde muy pequeño, ya que me gusta crear nuevas cosas y la programación me permite hacerlo.<br><br>
                        Desarrollando este proyecto pude conocer mucho acerca de la programación orientada a objetos, y este proyecto es uno de los sistemas más completos que he realizado. El entusiasmo y las ganas por seguir aprendiendo me han motivado a culminarlo.<br><br>
                        ¡Espero que lo disfruten tanto como nosotros.
                    </P>
                    
                    <div class="btn-cerrar">
                        <label for="btn-perfil4">Cerrar</label>
                    </div>
                    <!--Que el fondo ce cierre-->
                    <label for="btn-perfil4" class="cerrar-modal4"></label>
                </div>
                <div class="contenedor-logos">
                    <a href="https://x.com/Brad_Alexxander?t=qaErhG9xieRIJ6WNyQGDIQ&s=08"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.facebook.com/bradley.poma.92?mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://instagram.com/brad_alexxander?igshid=OGQ5ZDc2ODk2ZA=="><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a id="correo"><i class="fa-solid fa-envelope"></i>bradley.poma@unl.edu.ec</a>
                </div>
            </div>
            <!--FIN VENTANA FLOTANTE-->





            <!--ESTRUCTUR DEL BOTON MODAL-->
            <label for="btn-perfil5">
                <div class="perfil5">
                    <img src="{% static 'energy/img/personLogo.png' %}" aling="left" class="imagenChiquita">
                    <p class="texto">Eberson Guayllas</p>
                </div>
            </label>
            <!--FIN BOTON MODAL-->
            <!--VENTANA FLOTANTE-->
            <input type="checkbox" id="btn-perfil5">
            <div class="container-modal5">
                <div class="content-modal">
                    <h2>Eberson Guayllas</h2>
                    <!------------------------------------------------------------------------------------------------>
                    <P>Hola querido cybernauta, mi nombre es _______________ y soy de la ciudad _______________.<br><br>
                        Me gusta desarrollar, diseñar y programar. Mi pasión viene desde muy pequeño, ya que me gusta crear nuevas cosas y la programación me permite hacerlo.<br><br>
                        Desarrollando este proyecto pude conocer mucho acerca de la programación orientada a objetos, y este proyecto es uno de los sistemas más completos que he realizado. El entusiasmo y las ganas por seguir aprendiendo me han motivado a culminarlo.<br><br>
                        ¡Espero que lo disfruten tanto como nosotros.
                    </P>
                    
                    <div class="btn-cerrar">
                        <label for="btn-perfil5">Cerrar</label>
                    </div>
                    <!--Que el fondo ce cierre-->
                    <label for="btn-perfil5" class="cerrar-modal5"></label>
                </div>
                <div class="contenedor-logos">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100017536778825"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/eber_tr1/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/ebertr1"><i class="fa-brands fa-github"></i></a>
                    <a href="https://api.whatsapp.com/send/?phone=0997288985&text&type=phone_number&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a>
                    <a id="correo"><i class="fa-solid fa-envelope"></i>eberson.guayllas@unl.edu.ec</a>
                </div>
            </div>
            <!--FIN VENTANA FLOTANTE-->
</div>
</body>
</html>