<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sobre nosotros</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'energy/css/estilo_sobreNosotros.css'%}">
</head>
<body>
        <nav class="navegacion">
            <ul>
                <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'nosotros' %}">Sobre </a>
                <a href="{% url 'contactos' %}">Contactos</a>
                <a href="{% url 'login' %}" class="login">Registrate</a>
            </ul>
        </nav>

    <div  class="Contenido">
        <h1>HISTORIA</h1>    
            <p>El nombre "Foranix" se deriva del término "foráneo" debido a que todos los miembros 
                de nuestro grupo provienen de regiones fuera de la provincia. 
                Nuestro grupo de estudio se dedica a respaldar proyectos destinados a abordar cuestiones 
                sociales relacionadas con el ámbito computacional. Nuestros valores fundamentales dentro 
                del grupo son la Responsabilidad, Solidaridad, Respeto y Ética, ya que consideramos que 
                estos valores son indispensables para formar profesionales comprometidos con el bienestar colectivo. <br><br>
    
                En la Universidad Nacional de Loja, nos unimos en torno a un propósito común: 
                contribuir a la solución de los problemas que aquejan a la sociedad. 
                Lo logramos a través de proyectos como el presente, que busca generar conciencia 
                sobre el consumo de energía eléctrica y promover un cambio en nuestros hábitos de 
                consumo con el fin de colaborar en la optimización de los recursos naturales y garantizar 
                un planeta más saludable para las futuras. generaciones.<br><br>
    
                Te invitamos a explorar más acerca de la vida personal y experiencias individuales 
                de cada uno de nuestros integrantes. Cada uno de nosotros aporta un bagaje único de conocimientos, 
                habilidades y perspectivas que enriquecen nuestro grupo "Foranix". Descubrirás historias inspiradoras, 
                intereses diversos y motivaciones personales que nos impulsan a trabajar juntos en la búsqueda de soluciones 
                para los desafíos de nuestra sociedad. Conócenos más a fondo y únete a nuestra comunidad para ser parte de 
                esta misión conjunta de crecimiento y contribución.
            </p>
    </div>
    <div class="perfil">
        <div class="persona1">
            <div class="boton-modal">
                <label for="btn-modal">
                    Conoce más
                </label>
            </div>
            <!--Ventana Modal-->
            <input type="checkbox" id="btn-modal">
            <div class="container-modal">
                <h2>Hola, soy christian Robles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta</p>
                <div class="btn-cerrar">
                    <label for="btn-modal">Cerrar</label>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>