<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ubicaciones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #050d18;
            font-family: Arial, sans-serif; /* Agregamos una fuente de texto común */
        }
        
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Fetch de ubicaciones y renderizado del mapa
        fetch('/api_leaflet/ubicaciones')
            .then(response => response.json())
            .then(data => {
                // Crear mapa
                var map = L.map('map');

                // Crear grupo de capas para los marcadores
                var markers = L.layerGroup().addTo(map);

                // Array de coordenadas
                var coordinates = data.map(location => [location.latitud, location.longitud]);

                // Ajustar el mapa para que muestre todas las ubicaciones
                map.fitBounds(coordinates);

                // Añadir capa de mapa base
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                // Añadir marcadores para cada ubicación
                data.forEach(function(location) {
                    L.marker([location.latitud, location.longitud]).addTo(markers);
                });
            })
            .catch(error => console.error('Error fetching ubicaciones:', error));
    </script>
</body>
</html>
