* {
	font-family: 'Livvic', Courier, monospace;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #F2F2F2;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    display: none;
}

.menu{
    position: relative;
    width: 100%;
    height: 50px;
    background: #072540;
    border-radius:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.menu a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #DFF6FF;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;   
}
.menu a::after {
    content: '';
    background: linear-gradient(10deg, #256D85, #038C8C);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
.menu a:hover {
    color: #ffffff;
}
.menu a:hover::after{
    top: 50%;
    opacity: 1;
}

h1, h2 {
    color: #ffffff;
    font-size: 20px;
    padding-top: 8px;
}

.datosUsuario {
    text-align: left;
    background-color: #038C8C;
    opacity: 0.8;
    margin:0 0 0 0px;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 30px 30px;
    font-size: 12px;
    display: flex;
}

img {
    display: flex;
    margin-right: 10px;
    width: 100px;
    height: 100%;
}

.datosUsuario .description h2 p {
    display: inline-block;
    padding-left: 20px;
}

i{
	margin: 20px;
	font-size: 20px;
	color: white;
    width: 220px;
	border-radius: 10%;
	padding: 15px;
    background-color: #06b1b1;
	box-shadow: 0px 10px 15px #0a324ac2;
	transition: .3s ease;
    display: inline-block;
    cursor: pointer;
    display: inline-block;
}

p {
    margin-left: 8px;
    font-size: 15px;
    display: inline-block;
}

a{
    color: #ffffff;
	font-size: 15px;
    text-decoration: none;
}

.fa-file-export:hover{
	background-color: #06b1b1;
	color: white;
	box-shadow: 0 0 5px #06b1b1,
				0 0 15px #06b1b1,
				0 0 25px #06b1b1,
				0 0 45px #06b1b1;
}

.contenedorTabla{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

table {
    font-family: 'Livvic', Courier, monospace;
    border-collapse: collapse;
    width: 90%;
    margin: 20px;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    border-collapse: collapse;
    background-color: #023E73;
}

th{
    font-weight: bolder;
    text-align: left;
    background-color: #03588C;
}

td,
th,

tr {
    border: 2px solid #03588C; /*lineas de la tabla*/
    text-align: center;
    padding: 8px;
}

tr:hover td {
    background-color: #0e74b3;
    box-shadow: 0 0 5px #0e74b3,
				0 0 10px #0e74b3,
				0 0 15px #0e74b3,
				0 0 25px #0e74b3;
}

tbody tr:nth-child(odd){
    background-color: #03588C;
}

th {
    text-align: center;
    align-content: center;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

/* footer {
    background-color: #1DA1F2;
    padding: 10px;
    text-align: center;
} */
/* Estilos específicos para la impresión */
@media print {
    body{
        background-color: rgba(255, 255, 255, 0);
    }
    a,i {
        display: none;
        /* Oculta los enlaces al imprimir */
    }

    button {
        display: none;
        /* Oculta los botones al imprimir */
    }
    .navegar{
        display: none;
    }
    tbody tr:nth-child(odd){
    color: white;
    }
    tbody tr:nth-child(2n){
    color: black;
     }
}

/*-------------------------------FOOTER---------------------------------*/
footer {
    background-color: #03588C;
    color: #ffffff;
    padding: 20px; /* Incrementa el espacio interno para mejorar la legibilidad */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.contactos{
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center;
    align-items: center;
    list-style: none; /* Elimina los estilos de la lista */
    padding: 0; /* Elimina el padding por defecto de la lista */
}

.contactos li{
    margin: 0 10px; /* Añade un margen entre los elementos */
}

.contactos a {
    color: #ffffff;
    text-decoration: none;
    transition: color .5s;
}

.contactos a:hover {
    color:#06b1b1;
}
