
* {
	font-family: 'Livvic', Courier, monospace;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0d72b0;
    color: black;
}
h2 {
    text-align: center;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    }
.contenedor {
    margin-top: 1em;
}
.menu{
    position: relative;
    width: 100%;
    height: 50px;
    background: #072540;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.menu a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #F2F2F2;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;   
}
.menu a::after {
    content: '';
    background: linear-gradient(10deg, #256D85, #038C8C);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
.menu a:hover {
    color: #fff;
}
.menu a:hover::after{
    top: 50%;
    opacity: 1;
}
/* nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: linear-gradient(60deg, #222222ab, #1da0f2c2);
    opacity: 0.5;
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span {
    left: 27%;
    width: 8%;
}

nav a:nth-child(2):hover~span {
    left: 37%;
    width: 5%;
}
nav a:nth-child(3):hover~span {
    left: 43%;
    width: 10%;
}
nav a:nth-child(4):hover~span {
    left: 53%;
    width: 9%;
}
nav a:nth-child(5):hover~span {
    left: 62%;
    width: 11%;
} */

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.graficaProyeccion {
    contain: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto; /*  ancho de la pantalla */
    height: 46vh; /* Altura ajustada automáticamente */
    min-height: 350px;
}
.circulo {
    width: 100%;
    height: 100vh;
    contain: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*-------------------------------------------------------------------------------------*/
.menu {
    position: relative;

}
.menu li {
    display: none;
}
@media screen and (max-width: 768px) {
    .menu a{
        display: none;
        /* Oculta el contenido del menú en pantallas más pequeñas */
    }

    .menu li{
        display: block;
        /* Oculta el contenido del menú en pantallas más pequeñas */
    }
    
}

.menu li {
    position: relative;
    display: none;
    font-size: 15px;
    font-weight: 500;
    color: #072540;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;   
}
.menu li::after {
    content: '';
    background: linear-gradient(10deg,  #256D85, #038C8C);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
.menu li:hover {
    color: #fff;
}
.menu li:hover::after{
    top: 50%;
    opacity: 1;
}

.menu li a{
    font-family: 'Livvic', Courier, monospace;
    text-decoration: none; /* Sin subrayado */
    color: #1da0f2c2; /* Color de los enlaces */
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;
    margin-bottom: 10px;

}
/*-------------------------------FOOTER---------------------------------*/
footer {
    background-color: #03588C;
    color: #ffffff;
    padding: 20px; /* Incrementa el espacio interno para mejorar la legibilidad */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.contactos{
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center;
    align-items: center;
    list-style: none; /* Elimina los estilos de la lista */
    padding: 0; /* Elimina el padding por defecto de la lista */
}

.contactos li{
    margin: 0 10px; /* Añade un margen entre los elementos */
}

.contactos a {
    color: #ffffff;
    text-decoration: none;
    transition: color .5s;
}

.contactos a:hover {
    color:#06b1b1;
}

/* Agrega esta regla al final de tu archivo CSS */
@media screen and (min-width: 480px) {
    footer {
        position: relative;
        bottom: 0;
        margin-top: 100%;
        width: 100%;
    }
}


/*-----------------------------------------------------------*/
/*boton mostrar lista*/

/* NO ELIMINAR ESTE BLOQUE DE CÓDIGO - MUY IMPORTANTE PARA EL RESPONSIVE DESING*/
  
  
  @media only screen and (max-width: 768px) {
    .menu li {
      display: block;
    }
  }

 .opcionesLista li{
    list-style-type: none; 
    margin-bottom: 25px; 
    justify-content: center;
    color: #1da0f2c2; /* Color de texto */
    text-decoration: none;  
    }


.opcionesLista li a{
    text-decoration: none; /* Sin subrayado */
    color: #1da0f2c2; /* Color de los enlaces */
    justify-content: center;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;
    margin-bottom: 10px;
}

/*---------CSS PARA LOS BOTÓNES DE LA LISTA GENERADA EN PANTALLAS PEQUEÑAS----------*/

.opcionesLista li {
    position: relative;
    
    font-size: 15px;
    font-weight: 500;
    color: #1da0f2c2;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;   
}
.opcionesLista li::after {
    content: '';
    background: linear-gradient(10deg, #222222ab, #082d44c2);
    
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
.opcionesLista li:hover {
    color: #fff;
}
.opcionesLista li:hover::after{
    top: 50%;
    opacity: 1;
}