*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

body{
    background-color: #F2F2F2;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 5px solid #038C8C;
    background-color: #072540;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation img{
    display: flex;
    height: 100%;
    width: 150px;
    margin-right: 20px;
}

.presentation .description h1{
    display: inline-block;
    color: #F2F2F2;
}

.apoyo{
    display: inline-block;
    margin-right: 20px;
}

.nav ul li a i{
    margin-left: 10px;
}

/*botones y grafica de consumo, pa no olvidarme*/

.background{
    display: flex;
    width: 100%;
    height: 615px;
    justify-content: center;

}

.box{
    display: flex;
    margin-top: 30px;
    width: 95%;
    height: 555px;
    border-radius: 25px;
    background-color: #e0e0e0;
    padding-left: 20px;
    padding-right: 20px;
    border: #03588C solid 5px;
}

.botones{
    display: flex;
    justify-content: center;
    width: 30%;
}

.contenedor_botones{
    width: 90%;
    height: 100%;
}

.botones .contenedor_botones div{
    width: 100%;
    height: 100px;
    border: 2px solid #F2F2F2;
    margin: 70px 0;
}

.contenedor_botones div{
    display: flex;
    border: 2px solid #F2F2F2;
    padding: 10px;
    width: 100%;
    height: 100px;
    text-align: center;
    color: #DFF6FF;
    font-weight: 600;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #03588C;
    box-shadow: inset 0px 0px 10px 0 #03588C;
}

.contenedor_botones div a{
    text-decoration: none;
    color: #F2F2F2;
}

.contenedor_botones div i{
    margin-right: 10px;
}

.contenedor_botones div a:hover{
    color: #F2F2F2;
    font-size: 18px;
    transition: 0.2s;
}

.consumo_hoy{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 8px;
    contain: content;
}

.btnGrafico{
    position: absolute;
    padding: 5px;
    bottom: 10px;
    right: 20px;
    background-color: #038C8C;
    border-radius: 7px;
    border: 2px solid #038C8C;
    color: #F2F2F2;
}

.btnGrafico:hover{
    color: #ffffff;
    transition: 0.2s;
}

/*/////////////////////////////////////////////////////////////////*/
/* boton desplegable para el usuario */
.listado{
    list-style: none;
}

.perfil{
    background-color: #072540;
    border: none;
    color: #F2F2F2;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border: 3px solid #f2f2f2;
    border-radius: 20px;
    cursor: pointer;
}

.botones-secundarios {
    display: none;
    position: absolute;
    justify-content: center;
    background-color: #072540;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(-4%);
    padding: 8px;
}

.botones-secundarios a, .boton-segundario {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #072540;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: #F2F2F2;
}

#cambiarModo{
    background-color: #072540;
    font-family: 'Livvic', sans-serif;
    color: #f2f2f2;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;

}


.nav ul li a{
    text-decoration: none;
    font-weight: 600;
}

/*aqui termina jijijijij*/

/*/////////////////////////////////////////////////////////////////*/


#infoBox {
    display: none;
    position: absolute;
    bottom: 10%;
    right: 2%;
    height: 150px;
    width: 300px;
    color: #DFF6FF;
    background-color: #13c3c3;
    padding: 10px;
    border: 1px solid #13c3c3;
    border-radius: 5px;
}

.graficaProyeccion {
    width: 90%;
    height: 80%;
    margin-right: 20px;
    border: 2px solid #F2F2F2;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    contain: content;
}


@media screen and (max-width: 780px) {
    .information div{
        margin: 5px 22px;
    }
    .secondaries{
        margin: 10px 45px;
        width: auto;
    }

    .consumo_general{
        width: 202px;
        height: 150px;

    }
}

/* Estilos para el cuadro */
        #cuadroLista {
          position: absolute;
          left: 20px;
          top: 20px;
          width: 200px;
          background-color: #050d18;
          border: 1px solid #050d18;
          padding: 10px;
          display: none; /* Inicialmente oculto */
          z-index: 9999;
          left: 25%; /* Posicionamiento en la mitad de la página */
          top: 35%; /* Posicionamiento en la mitad de la página */
          transform: translate(-50%, -50%); /* Centrado con respecto al 50% de la página */
          backdrop-filter: blur(10px);
          color: #46295e;
        }

        #cuadroLista ul {
            list-style: none; /* Eliminar viñetas */
            padding: 0; /* Eliminar padding */
        }

        #cuadroLista ul li {
            margin-bottom: 5px; /* Espaciado entre elementos de la lista */
        }

        #cuadroLista ul li a {
            text-decoration: none; /* Eliminar subrayado */
            color: #46295e; /* Cambiar el color del texto de los enlaces a blanco */
        }

        #hamburguesa {
            display: none;
            cursor: pointer;
            width: 10%;
            height: 25%;
            font-size: 50px; /* Tamaño del texto del botón */
            color: #ffffff; /* Color del texto del botón (blanco) */
            border: none;
            padding: 10px 15px; /* Espaciado interno del botón */
            border-radius: 5px; /* Bordes redondeados */
        }

        .botones{
            display: flex;
            justify-content: center;
            width: 30%;
        }

        #menu {
            display: none;
            justify-content: center;
            width: 50%;

            margin: auto; /* Agrega esto para centrar horizontalmente */
            align-items: center;
            justify-content: center;
        }

        .contenedor_botones{
            width: 90%;
            height: 100%;


        }

        @media screen and (max-width: 600px) {
             .botones {
                 display: none; /* Oculta el div cuando la pantalla es más pequeña que 600px */
             }

            .consumo_hoy{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: center;
                border-radius: 8px;
                contain: content;
            }
        }

        /*MENÚ RESPONSIVE --------------------------- NO BORRAR*/
        #menuResponsive {
            justify-content: center;
            width: 50%;
            display: none;
            margin: auto; 
            align-items: center;
            justify-content: center;
        }
        
        .margen {
            margin-bottom: 20px; /* o padding-bottom: 20px; */
        }
        
        .margenArriba {
            margin-bottom: 20px;
            margin-top: 20px; /* ajusta el valor según el espacio deseado */
        }

        @media screen and (max-width: 600px) {
            #menu {
                display: 1;
            }

            #menuResponsive {
                display: flex;
            }

            .botones {
                display: none; 
            }
            
        }

        /*-----------------------------------------------------*/