* {
    padding: 0;
    margin: 0;
    font-family: 'livvic', sans-serif;
}


body {
    background-color: #F2F2F2;
    color: #038C8C;
}

.menu{
    position: relative;
    width: 100%;
    height: 50px;
    background: #072540;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.menu a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #F2F2F2;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;   
}
.menu a::after {
    content: '';
    background: linear-gradient(10deg, #256D85, #038C8C);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
.menu a:hover {
    color: #ffffff;
}
.menu a:hover::after{
    top: 50%;
    opacity: 1;
}

h1 {
    color: #03588C;
    font-size: 28px;
    text-align: center;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 80%;
    padding-bottom: 20px;
    border-radius: 4px;
    background-color: #023E73;
}
.form_content {
    padding: 10px;
    width: 60%;
    height: 170px;
}

.form_content input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    background-color: #03588C;
    color: #ffffff;
    border: 1px solid #03588C;

}

.form_content input::placeholder {
    color: #ffffff;
}

.form_content select {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0;
    margin-left: 5px;
    font-size: 15px;
    background-color: #03588C;
    border: 1px solid #03588C;
    color: #ffffff;
    cursor: pointer;
}

.form_content label {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 10px;
}

.form_content button {
    margin-top: 10px;
    margin-left: 5px;
    color: #FFFFFF;
    background-color: #038C8C;
    border: 1px solid #038C8C;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.form_buttons {
    width: 40%;
    flex-direction: column;
    text-align: center;
}

.form_buttons button {
    display: inline;
    width: 140px;
    height: 40px;
    margin: 10px 80px;
    margin-top: 30px;
    background-color: #038C8C;
    border: 1px solid #038C8C;
    font-size: 15px;
    border-radius: 5px;
}

.form_buttons button a {
    text-decoration: none;
    color: #FFFFFF;
    width: 600px;
}

/* Tabla*/
.section {
    margin-top: 70px;
}

table {
    font-family: 'Livvic', Courier, monospace;
    width: 100%;
    height: 50vh;
    font-size: 15px;
    text-align: left;
    background-color: #023E73;
    color: #ffffff;
    border-collapse: collapse;
    margin-top: 30px;
}
table button{
    background-color: #038C8C;
    border: 1px solid #038C8C;
    padding: 2px;
    
    color: #fff;
    cursor: pointer;
}

table button:hover{
    background-color: #06b1b1;
    border: 1px solid #06b1b1;
    color: #fff;
}

th {
    font-weight: bolder;
    text-align: left;
    background-color: #03588C;


}

tr {
    border: 2px solid #023E73;
    /*lineas de la tabla*/
    text-align: center;
    padding: 8px;
}

tr:hover td {
    background-color: #0e74b3;
    box-shadow: 0 0 5px #0e74b3,
        0 0 10px #0e74b3,
        0 0 15px #0e74b3,
        0 0 25px #0e74b3;
}

tbody tr:nth-child(odd) {
    background-color: #03588C;
}

th {
    text-align: center;
    align-content: center;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

/*------------------FILTROS-------------------*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pagination a {
    color: #ffffff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: .3s;
    background-color: #038C8C;
    border: 1px solid #038C8C;
}

.pagination a:hover:not(.active) {
    background-color: #06b1b1;
}
.step-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-links a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.step-links a:hover {
    background-color: #06b1b1;
}
.step-links a:active {
    background-color: #06b1b1;
    color: white;
}
.current {
    color: #ffffff;
    margin: 5px auto; /* Margen superior e inferior de 5px y centrar horizontalmente */
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #03588C;
    background-color: #03588C;
    display: block; /* Convertir el elemento en un bloque para que ocupe todo el ancho disponible */
    text-align: center; /* Centrar el texto horizontalmente */
}

.filtrar_artefacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.filtrar_artefacto input {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #038C8C;
    margin: 0 4px;
}
.filtrar_artefacto button {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #038C8C;
    margin: 0 4px;
    background-color: #038C8C;
    color: #ffffff;
    cursor: pointer;
}
.filtrar_artefacto button:hover {
    background-color: #06b1b1;
}
.ver_todo {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #038C8C;
    margin: 0 4px;
    background-color: #038C8C;
    color: #ffffff;
    cursor: pointer;
}

.ver_todo:hover {
    background-color: #06b1b1;
}

/*-------------------------------FOOTER---------------------------------*/
footer {
    background-color: #03588C;
    color: #ffffff;
    padding: 20px; /* Incrementa el espacio interno para mejorar la legibilidad */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.contactos{
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center;
    align-items: center;
    list-style: none; /* Elimina los estilos de la lista */
    padding: 0; /* Elimina el padding por defecto de la lista */
}

.contactos li{
    margin: 0 10px; /* Añade un margen entre los elementos */
}

.contactos a {
    color: #ffffff;
    text-decoration: none;
    transition: color .5s;
}

.contactos a:hover {
    color:#06b1b1;
}

/* Agrega esta regla al final de tu archivo CSS */
@media screen and (min-width: 480px) {
    footer {
        position: relative;
        bottom: 0;
        margin-top: 100%;
        width: 100%;
    }
}

/*-----------------------------------------------------------*/