* {
    font-family: 'livvic', sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #000000;color: white;
}
nav{
    position: relative;
    width: 100%;
    height: 50px;
    background: #222222ab;
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

nav a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #1da0f2c2;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;
}
nav a::after {
    content: '';
    background: linear-gradient(10deg, #222222ab, #1da0f2c2);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
nav a:hover {
    color: #fff;
}
nav a:hover::after{
    top: 50%;
    opacity: 1;
}
a{
    text-decoration: none;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}
h1{text-align: center;
    margin-top: 25px;
    color: white;

}
h3{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: #ff0000;

}

/* Tabla*/
table{
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    text-align: left;
    margin-bottom: 10px;
}
th{
    background-color: #1da0f2c2;
    color: white;
    text-align: center;
    align-content: center;
    padding: 10px;
    border: 2px solid black;
}

td{
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #000000;
}
tr:nth-child(even){background-color: black}







/* form */

.formCrearArtefactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    background-color: #222222ab;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.formCrearArtefactos input{
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: 15px;
    text-align: center;
    align-content: center;
    align-items: center;

}
.formCrearArtefactos label{
    margin: 20px;


}
.formCrearArtefactos button{
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    background-color: #1da0f2c2;
    margin: 10px;
}
.formCrearArtefactos button:hover{
    background-color: #1da0f2;
}

/*aqui voy a empezar el modo oscuro, no se 
asusten si esta muy largo solo es repetir
las etiquetas con otros colores*/

.switch{
    display: flex;
    position: relative;
    width: 60px;
    height: 30px;
    padding: 0 5px;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    border: #fff solid 2px;
    background-color: #132b41;
    }
    
    
    .switch i{
    font-size: 1rem;
    color: #fdc21c;
    }
    
    .listado li:last-child::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: solid thin #000;
    left: 0;
    right: unset;
    }
    
    .listado li:last-child.active::before{
    left: unset;
    right: 0;
    border: solid thin #fff;
    }
    
    .listado li:last-child.active i:first-child{
    color: #000;
    }
    
    .listado li:last-child.active{
    background-color: #ffc800;
    }
    
    
    /*fin de la estructura del boton*/
    
    body.dark{
    background-color:  #82e95b;
    }
    
    body.dark .header{
    color: #132b41;
    border-bottom: 3px solid #132b41;
    }
    
    body.dark .presentation .description h1{
    color: #132b41;
    }
    
    body.dark .nav ul li a{
    color: #132b41;
    }
    
    body.dark .nav ul li a i{
    color: #132b41;
    }
    
    body.dark .background{
    background-color: #eaeaea;
    }
    
    body.dark .box{
    background-color: #82e95b;
    border: 3px solid #132b41;
    }
    
    body.dark .contenedor_botones div{
    border: 2px solid #132b41;
    color: #132b41;
    background-color: #2dba78;
    box-shadow: inset 0px 0px 10px 0 #132b41;
    }
    
    body.dark .contenedor_botones div a{
    color: #132b41;
    }
    
    body.dark .contenedor_botones div a i{
    color: #132b41;
    }



























/* tabla de los artefactos*/
.tablaDeLosArtefactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    padding: 20px;
    border-radius: 10px;
    background-color: #222222ab;
    width: 98%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}





.acciones{
  contain: content;
  align-content: center;
  text-align: center;
  padding: 0px;
}
.acciones form button {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    background: rgba(11,51,255,0);
    padding: 5px;
    color: #ffffff;
    font-size: 15px;
    border-style: none;
}
.acciones:hover{
    background-color: rgba(29, 160, 242, 0.32);
}