* {
    font-family: 'livvic', sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #000000;color: white;
}
nav{
    position: relative;
    width: 100%;
    height: 50px;
    background: #222222ab;
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

nav a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #1da0f2c2;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;
}
nav a::after {
    content: '';
    background: linear-gradient(10deg, #222222ab, #1da0f2c2);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
nav a:hover {
    color: #fff;
}
nav a:hover::after{
    top: 50%;
    opacity: 1;
}
a{
    text-decoration: none;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}
h1{text-align: center;
    margin-top: 25px;
    color: white;

}
h3{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: #ff0000;

}

/* Tabla*/
table {
    font-family: 'Livvic', Courier, monospace;
    width: 100%;
    font-size: 15px;
    text-align: left;
    color: white;
    border-collapse: collapse;
    margin: 20px;
}

th{
    font-weight: bolder;
    text-align: left;
    background-color: #1da0f2c2;


}

tr {
    border: 2px solid #1da0f2c2; /*lineas de la tabla*/
    text-align: center;
    padding: 8px;
}

tr:hover td {
    background-color: #1DA1F2;
    box-shadow: 0 0 5px #1DA1F2,
				0 0 10px #1DA1F2,
				0 0 15px #1DA1F2,
				0 0 25px #1DA1F2;
}
tbody tr:nth-child(odd){
    background-color: #0a324ac2;
}

th{
    text-align: center;
    align-content: center;
    padding: 10px;
}

td{
    text-align: center;
    padding: 10px;
}


/* form */

.formCrearArtefactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    background-color: #222222ab;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.formCrearArtefactos input{
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: 15px;
    text-align: center;
    align-content: center;
    align-items: center;

}
.formCrearArtefactos label{
    margin: 20px;


}
.formCrearArtefactos button{
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    background-color: #1da0f2c2;
    margin: 10px;
}
.formCrearArtefactos button:hover{
    background-color: #1DA1F2;;
}






/* tabla de los artefactos*/
.tablaDeLosArtefactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    padding: 20px;
    border-radius: 10px;
    background-color: #222222ab;
    width: 98%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}





.acciones{
  contain: content;
  align-content: center;
  text-align: center;
  padding: 0px;
  cursor: pointer;
}
.acciones form button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;
    background: rgba(11,51,255,0);
    padding: 5px;
    color: #ffffff;
    font-size: 15px;
    border-style: none;
}
.acciones:hover{
    background-color: #1da0f2c2;
}




/*-------------------------------FOOTER---------------------------------*/
footer {
    background-color: #1DA1F2;
    padding: 10px;
    text-align: center;
}