* {
	font-family: 'rosarivo', Courier, monospace;
    font-size: 20px;
    box-sizing: border-box;
}

h1 {
	text-align: center;
    font-size: 25px;
}

.contenido{
	margin:auto;
	margin-top: 20px;
	width: 80%;
	height: 80%;
	padding: 10px;
	text-align: justify;
    background-color:white;
}

.contenedor{
    height: 600px;
    background-color:white;
}

.perfil1,.perfil2,.perfil3,.perfil4,.perfil5{
    background-image: url("../img/christian.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fafafa;
    display: inline-block;
    height: 250px;
    width: 250px;
    margin-left: 38px;
    align-items: center;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #969595;
    contain: content;
}
.perfil1,.perfil2,.perfil3,.perfil4,.perfil5:hover{
    cursor: pointer;
}
.imagenChiquita{
    height: 35px;width: 35px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.texto{
    height: 35px;
    width: 250px;
    margin-left: 35px;
    margin-top: 86%;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #fafafa;
    color: black;
}

.texto:hover{
    color: #fafafa;
    background-color: black;
    transition: 0.8s;
}

/*::: VENTANA FLOTANTE ::*/
#btn-perfil1{
    display: none;
}

.container-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0; 
    left:0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-perfil1:checked ~ .container-modal{
    display: flex;
}

.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}

.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor:pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover{
    background-color: #185E83;
}
.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0; left:0;
    z-index: 1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}