body {
    background-color: #050d18;
    font-family:sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura completa de la ventana */
  }

  .navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 45px;
}

.logo{
    height: 100%;
}

.logo img{
    position: absolute;
    transform: translate(-40%, -35%);
    height: 160px;
}

.navigator ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    transition: all 0.9s ease;
}

.navigator ul li:hover{
    transform: scale(1.2);
}

.navigator ul li a{
    text-decoration: none;
    color: rgba(45, 192, 250, 0.69);
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
    transition: all 0.9s ease;
}

.navigator ul li a i{
    margin-right: 5px;
}

.contenedor-padre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
  /* Estilo del contenedor principal */
  .login-box {
    width: 380px;
    background-color: rgba(109, 155, 215, 0.09); /* Color de fondo del contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(63, 187, 183, 0.29); /* Sombra ligera */
    text-align: center;
  }

  /* Estilo del encabezado */
  .login-box h1 {
    color: #ffffff; /* Color del texto del encabezado */
    font-weight: 600;
  }

  /* Estilo del formulario */
  .login-box form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* labels */
 .login-box label {
    margin-bottom: 8px;
    font-weight: 600;
     color: white;
  }

  /* Estilo de las etiquetas del formulario */
  .login-box label {
    margin-bottom: 8px;
    font-weight: 600;
  }

  #id_password{
    margin-left: 55px;
  }

  /* Estilo de los campos de entrada del formulario */
  .login-box input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #290303;
    border-radius: 4px;
  }

  /* Estilo del botón de envío del formulario */
  .login-box button {
    background-color: #177194; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 20px;
    border: 1px solid #050d18;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    width: 220px;
    transform: translateX(40%);
  }

  /* Cambio de color del botón al pasar el ratón sobre él */
  .login-box button:hover {
    background-color: #1B91BF;
    color: rgb(7, 5, 5);
  }

  /* Estilo del enlace para registrarse */
  .login-box a {
    color: #1B91BF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
  }

  /* Cambio de estilo del enlace al pasar el ratón sobre él */
  .login-box a:hover {
    text-decoration: underline;
      color: rgba(226, 214, 238, 0.62);
  }

  .imagen_presentacion{
    position: relative;
    background-color: #050d18;
    height: 70px;
    width: 70px;
    left: 42%;
    border-radius: 100%;
  }

  .imagen_presentacion img{
    width: 65px;
    height: 65PX;
    border-radius: 100%;
  }
  @media only screen and (max-width: 768px) {
    .navigator {
        padding: 10px; /* Ajusta el padding para pantallas más pequeñas */
        height: 20px; /* Ajusta la altura del contenedor navigator */
    }

    .navigator ul li {
        margin-left: 5px; /* Ajusta el margen para los elementos de la lista */
    }

    .navigator ul li a {
        font-size: 16px; /* Ajusta el tamaño del texto "Iniciar Sesión" */
    }

    .login-box {
        width: 80%; /* Ajusta el ancho de la caja de inicio de sesión */
        margin: 20px auto; /* Agrega margen en la parte superior e inferior */
    }

    #id_password {
        margin-left: 30px; /* Ajusta el margen del campo de contraseña */
    }

    .login-box button {
        width: 100%;
        transform: translateX(0%);
        padding: 10px; /* Ajusta el padding del botón */
        font-size: 12px; /* Ajusta el tamaño de fuente del botón */
    }

    .imagen_presentacion {
        left: 50%;
        margin-top: 10px; /* Agrega margen en la parte superior */
        transform: translateX(-50%); /* Centra el div horizontalmente */
        margin-top: 10px; /* Agrega margen en la parte superior */
    }
    .login-box form {
      display: flex;
      flex-direction: column;
      align-items: center; /* Alinea los elementos al centro */
      margin-top: 20px;
  }

  .login-box label {
      margin-bottom: 8px;
      font-weight: 600;
      text-align: center; /* Alinea el texto al centro */
  }

}