<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: 'Livvic', sans-serif;
}

body{
    background-color: #050d18;
}

.contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #050d18;

}

.slidevar{
    position: fixed;
    display: inline-block;
    height: 100vh;
    width: 19%;
    background-color: #050d18;
}

.slidevar ul{
    position: relative;
    display: inline-block;
    list-style: none;
}

.slidevar ul li{
    line-height: 75px;
    font-weight: 600;
    color: #d4e3ff;
    cursor: pointer;
}

.slidevar ul li a{
    display: block;
    text-decoration: none;
    color: #6571DB;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 3px solid #65BCDB;
    width: 100%;
}

.slidevar img{
    position: relative;
    display: inline-block;
    width: 75%;
    margin-top: 15px;
    border: 4px solid #65BCDB;
    border-radius: 50%;
    left: 10%;
    filter: drop-shadow(0 0 0.75rem #cdc2c2);
}

.slidevar img :hover{
    filter: drop-shadow(0 0 0.75rem #cdc2c2);
}


.navigation{
    position: relative;
    display: inline-block;
    background-color: #050d18;
    width: 79.8%;
    height: 85px;
    text-align: right;
    left: 19.5%;
    border: 3px solid #27292a;
    border-radius: 20px;
    contain: content;
}

.lista{
    display: inline-block;
    margin-bottom: 10px;
}

.navigation ul{
    display: inline-block;
    list-style: none;
}

.buscador{
    display: inline-block;
    text-align: center;
    margin-right: 175px;
    margin-bottom: 50px;
}

.buscador p{
    display: inline-block;
    font-weight: 600;
    color: #65BCDB;
    margin-right: 15px;
}

.buscador input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
    background-color: #7F65DB;
    counter-reset: #fafafa;
    font-weight: 600;
}

::placeholder{
    color: #050d18;
    font-weight: 600;
}

.buscador button{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #65BCDB;
    cursor: pointer;
}

.navigation ul li{
    display: inline-block;
    line-height: 75px;
    font-weight: bold;
    color: #d4e3ff;
    cursor: pointer;
}

.navigation ul li a{
    text-decoration: none;
    color: #6571DB;
    padding: 10px 25px;
    display: block;
    font-weight: 600;
}

.tarjeta{
    position: relative;
    display: inline-block;
    width: 80%;
    height: 800px;
    background-color: #050d18;
    margin-left: 19.5%;
    border: 3px solid #27292a;
    border-radius: 20px;
    contain: content;
    justify-content: center;
=======
*{
    margin: 0;
    padding: 0;
    font-family: 'Livvic', sans-serif;
}

body{
    background-color: #050d18;
}

.contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #050d18;

}

.slidevar{
    position: fixed;
    display: inline-block;
    height: 100vh;
    width: 19%;
    background-color: #050d18;
}

.slidevar ul{
    position: relative;
    display: inline-block;
    list-style: none;
}

.slidevar ul li{
    line-height: 75px;
    font-weight: 600;
    color: #d4e3ff;
    cursor: pointer;
}

.slidevar ul li a{
    display: block;
    text-decoration: none;
    color: #6571DB;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 3px solid #65BCDB;
    width: 100%;
}

.slidevar img{
    position: relative;
    display: inline-block;
    width: 75%;
    margin-top: 15px;
    border: 4px solid #65BCDB;
    border-radius: 50%;
    left: 10%;
    filter: drop-shadow(0 0 0.75rem #cdc2c2);
}

.slidevar img :hover{
    filter: drop-shadow(0 0 0.75rem #cdc2c2);
}


.navigation{
    position: relative;
    display: inline-block;
    background-color: #050d18;
    width: 79.8%;
    height: 85px;
    text-align: right;
    left: 19.5%;
    border: 3px solid #27292a;
    border-radius: 20px;
    contain: content;
}

.lista{
    display: inline-block;
    margin-bottom: 10px;
}

.navigation ul{
    display: inline-block;
    list-style: none;
}

.buscador{
    display: inline-block;
    text-align: center;
    margin-right: 175px;
    margin-bottom: 50px;
}

.buscador p{
    display: inline-block;
    font-weight: 600;
    color: #65BCDB;
    margin-right: 15px;
}

.buscador input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
    background-color: #7F65DB;
    counter-reset: #fafafa;
    font-weight: 600;
}

::placeholder{
    color: #050d18;
    font-weight: 600;
}

.buscador button{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #65BCDB;
    cursor: pointer;
}

.navigation ul li{
    display: inline-block;
    line-height: 75px;
    font-weight: bold;
    color: #d4e3ff;
    cursor: pointer;
}

.navigation ul li a{
    text-decoration: none;
    color: #6571DB;
    padding: 10px 25px;
    display: block;
    font-weight: 600;
}

.tarjeta{
    position: relative;
    display: inline-block;
    width: 80%;
    height: 800px;
    background-color: #050d18;
    margin-left: 19.5%;
    border: 3px solid #27292a;
    border-radius: 20px;
    contain: content;
    justify-content: center;
>>>>>>> main
}