* {
    margin: 0;
    padding: 0;
}



body {
    background-image: url(../img/pantalla1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}

.imagen_principal{
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    padding-top: 80px;

}

.imagen_principal img{
    height: 450px;
    width: 450px;
}

