* {
	font-weight: 70;
	font-size: 20px;
}
h1 {
	text-align: center;
}
.contenido{
	margin:auto;
	margin-top: 20px;
	width: 80%;
	height: 80%;
	padding: 10px;
	text-align: justify;
    background-color: aqua;
	
}

.contenedor{
    height: 750px;
}

.perfil{
    background-color: #000;
    color: #fafafa;
    display: inline-block;
    height: 250px;
    width: 250px;
    margin-left: 38px;
    align-items: center;
    border: 4px solid #fafafa;
    border-radius: 100%;

}