
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #050d18;
}
.contenido img{
    max-width: 100%;
    height: auto;
}
/*boton de navegacion en la pagina principal*/

.dropdown {
    position: absolute;
    display: flex;
    left: 35px;
    top: 45%;
    cursor: pointer;
    user-select: none;
    border: #d4e3ff 3px solid;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    color: #d4e3ff;
    justify-content: center;
    align-items: center;
  }

  .dropdown-down i{
    color: #d4e3ff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    min-width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown.active .dropdown-content {
    display: block;
    animation: fadeIn 0.5s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      transform: translateX(110px);
    }
  }
  
  .dropdown-content a {
    color: #d4e3ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    size: 45px;
  }

    .dropdown-content a:hover {
        background-color: #d4e3ff;
        color: #050d18;
        border-bottom: 2px solid #050d18;
    }

  .dropdown-content a i{
    margin-right: 10px;
    size: 15px;
  }
/*/////////////////////////////////////////////////*/


.contenedor{
    position: relative;
    width: 96%;
    height: 98vh;
    margin-left: 2%;
    margin-right: 2%;
    background-image: url(../img/pantalla.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem #cdc2c2);
    justify-content: center;
}

.contenido{
    position: absolute;
    width: 100%;
    height: 450px;
    top: 5%;
    text-align: center;
    max-width: 100%; 
    overflow: hidden;
}

.contenido img{
    height: 100%;
}



.contenido p{
    position: absolute;
    top: 80%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-family: 'Livvic', sans-serif;
    font-size: 28px;
    color: #d4e3ff;
    font-weight: 600
}

.botones{
    position: relative;
    justify-content: center;
    text-align: center;
    top: 75%;
    color: #d4e3ff;
}

.botones a span{
    color: #d4e3ff;
    font-size: 60px;

}

.botones a span:hover{
    color: #101010;
    cursor: pointer;
    font-size: 50px;
    transition: 1s;
}

.login{
    display: inline-block;
    width: 20%;
    justify-content: center;
}

.registrate{
    display: inline-block;
    width: 20%;
    justify-content: center;
}

.nosotros{
    display: inline-block;
    width: 20%;
    justify-content: center;
}

.boton{
    text-decoration: none;
}

.boton p{
    font-family: 'livvic', sans-serif; 
    font-weight: 600;
    font-size: 25px;
    color: #d4e3ff;
}
@media screen and (max-width: 468px) {
    .contenido img{
        height: 100%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
  }
@media only screen and (max-width: 768px) {
    .boton p {
        font-size: 22px; 
        color: #d4e3ff;
    }

    .dropdown-content a {
        color: #d4e3ff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        size: 45px;
        backdrop-filter: blur(20px);
      }
}

@media only screen and (max-width: 480px) {

    .boton p {
        font-size: 17px; 
        color: #d4e3ff;
    }

    .dropdown-content a {
        color: #d4e3ff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        size: 45px;
        backdrop-filter: blur(20px);
      }
}

@media only screen and (max-width: 280px) {
    .boton p {
        font-size: 12px; 
        color: #d4e3ff;
    }
}
@media only screen and (max-width: 540px) {
    #imagen {
            bottom: 2%; /* Alineamos el icono a la parte inferior de la página */
            right: 10%; /* Alineamos el icono a la derecha de la página */
            border-radius: 50%; /* Damos forma circular al icono */
            z-index: 999; /* Aseguramos que esté por encima de otros elementos */
            box-shadow: 0 0 10px rgba(135, 71, 213, 0.9); /* Agregamos una sombra al icono */
    }
}

.separacion{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedor2{
    position: relative;
    background-color: #d4e3ff;
    contain: content;
    height: 100vh;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    background-image: url(../img/pantalla2.png);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0 0 0.75rem #cdc2c2);
    background-attachment: fixed;
}

.contenido2{
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0;
    text-align: center;
    background-color: #d4e3ff;
}

.footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #050d18;
    border-top: 10px;
    border-bottom: 10px;
    justify-content: space-between;
    filter: drop-shadow(0 0 0.75rem #cdc2c2);
}
.logo-footer{
    width: 13%;
    height: 100%;
}

.logo-footer img{
    width: 100%;
    height: 100%;
}

.descripcion-footer{
    display: grid;
    width: 55%;
    height: 100%;
    color: #d4e3ff;
    text-align: center;
    font-family: 'Livvic', sans-serif;
    padding-top: 3px;
}

.redes-footer{
    width: 80px;

}

.redes-footer ul{
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}

.redes-footer ul li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #18305c;
    border-radius: 100%;
    padding: 3px;
}

@media screen and (max-width: 768px) {
    .descripcion-footer {
      max-width: 80%; 
      padding-left: 0px; 
      padding-right: 20px;
      font-size: 13px; 
    }
    #imagen {
            bottom: 13%; /* Alineamos el icono a la parte inferior de la página */
            right: 15%; /* Alineamos el icono a la derecha de la página */
            border-radius: 50%; /* Damos forma circular al icono */
            z-index: 999; /* Aseguramos que esté por encima de otros elementos */
            box-shadow: 0 0 10px rgba(135, 71, 213, 0.9); /* Agregamos una sombra al icono */
    }
    .redes-footer ul li{
        
        display: flex;
        flex-wrap: wrap; 
    }
  }


.redes-footer ul li .fa{
    color: #d4e3ff;
    transition: all 0.5s ease; 
}

.redes-footer ul li:hover.facebook{
    border: #3B5998 2px solid;
    box-shadow: 0 0 5px #3B5998;
    transition: all 0.5s ease; 
}

.redes-footer ul li:hover .fa-facebook{
    color: #3B5998;
    transition: all 0.5s ease; 
}

.redes-footer ul li:hover.instagram{
    border: #bc2a8d 2px solid;
    box-shadow: 0 0 5px #bc2a8d;
    transition: all 0.5s ease; 
}

.redes-footer ul li:hover .fa-instagram{
    color: #bc2a8d;
    transition: all 0.5s ease; 
}

.redes-footer ul li:hover.whatsapp{
    box-shadow: 0 0 5px #4dc247;
    transition: all 0.5s ease; 
}

.redes-footer ul li:hover .fa-whatsapp{
    color:#4dc247;
    transition: all 0.5s ease; 
}




