* {
	font-family: 'Livvic', Courier, monospace;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: black;
}
nav{
    position: relative;
    width: 100%;
    height: 50px;
    background: #222222ab;
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #1da0f2c2;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;   
}
nav a::after {
    content: '';
    background: linear-gradient(10deg, #222222ab, #1da0f2c2);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
nav a:hover {
    color: #fff;
}
nav a:hover::after{
    top: 50%;
    opacity: 1;
}
/* nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: linear-gradient(60deg, #222222ab, #1da0f2c2);
    opacity: 0.5;
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span {
    left: 27%;
    width: 8%;
}

nav a:nth-child(2):hover~span {
    left: 37%;
    width: 5%;
}
nav a:nth-child(3):hover~span {
    left: 43%;
    width: 10%;
}
nav a:nth-child(4):hover~span {
    left: 53%;
    width: 9%;
}
nav a:nth-child(5):hover~span {
    left: 62%;
    width: 11%;
} */

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

footer {
    background-color: #1DA1F2;
    padding: 10px;
    text-align: center;
}

.graficaProyeccion {
    contain: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto; /*  ancho de la pantalla */
    height: 46vh; /* Altura ajustada automáticamente */
    min-height: 350px;
}
.circulo {
    width: 100%;
    height: 100vh;
    contain: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*-------------------------------------------------------------------------------------*/
.menu {
    position: relative;

}
.menu li {
    display: none;
}
@media screen and (max-width: 768px) {
    .menu a{
        display: none;
        /* Oculta el contenido del menú en pantallas más pequeñas */
    }

    .menu li{
        display: block;
        /* Oculta el contenido del menú en pantallas más pequeñas */
    }
    
}

nav li {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #1da0f2c2;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;   
}
nav li::after {
    content: '';
    background: linear-gradient(10deg, #222222ab, #1da0f2c2);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
nav li:hover {
    color: #fff;
}
nav li:hover::after{
    top: 50%;
    opacity: 1;
}

li a{
    font-family: 'Livvic', Courier, monospace;
    text-decoration: none; /* Sin subrayado */
    color: #1da0f2c2; /* Color de los enlaces */
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;
    margin-bottom: 10px;

}