* {
    margin: 0;
    padding: 0;
    font-family: 'livvic', sans-serif;
}

h4 {
    color: red;
}

body {
    background-color: #050d05;
}

nav {
    position: relative;
    width: 100%;
    height: 50px;
    background: #222222ab;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #1da0f2c2;
    text-decoration: none;
    padding: 13px 35px;
    margin: 5px;
    z-index: 2;
    transition: color .5s;
}

nav a::after {
    content: '';
    background: linear-gradient(10deg, #222222ab, #1da0f2c2);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top .5s, opacity .5s;
}

nav a:hover {
    color: #fff;
}

nav a:hover::after {
    top: 50%;
    opacity: 1;
}

h1 {
    color: white;
    text-align: center;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 80%;
    border-radius: 4px;
    background-color: #222222ab;
}
.form_content {
    padding: 10px;
    width: 60%;
    height: 170px;
}

.form_content input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: black;
    color: white;
}

.form_content input::placeholder {
    color: white;
}

.form_content select {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0;
    margin-left: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.form_content label {
    color: grey;;
    font-size: 15px;
    margin-left: 10px;
}

.form_content button {
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    background-color: #1da0f2c2;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.form_buttons {
    width: 40%;
    flex-direction: column;
    text-align: center;
}

.form_buttons button {
    display: inline;
    width: 140px;
    height: 40px;
    margin: 10px 80px;
    margin-top: 30px;
    background-color: #1da0f2c2;
    border-radius: 5px;
}

.form_buttons button a {
    text-decoration: none;
    color: #fff;
    width: 600px;
}

/* Tabla*/
.section {
    margin-top: 70px;
}

table {
    font-family: 'Livvic', Courier, monospace;
    width: 100%;
    height: 50vh;
    font-size: 15px;
    text-align: left;
    color: white;
    border-collapse: collapse;
    margin-top: 30px;
}
table button{
    background-color: #1da0f2c2;
    padding: 2px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

table button:hover{
    background-color: #222222ab;
    color: #fff;
}

th {
    font-weight: bolder;
    text-align: left;
    background-color: #1da0f2c2;


}

tr {
    border: 2px solid #1da0f2c2;
    /*lineas de la tabla*/
    text-align: center;
    padding: 8px;
}

tr:hover td {
    background-color: #1DA1F2;
    box-shadow: 0 0 5px #1DA1F2,
        0 0 10px #1DA1F2,
        0 0 15px #1DA1F2,
        0 0 25px #1DA1F2;
}

tbody tr:nth-child(odd) {
    background-color: #0a324ac2;
}

th {
    text-align: center;
    align-content: center;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

