/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Mejora el modelo de caja */
    font-family: Livvic, sans-serif;
  }
  body{
    background: #FFF;
    margin: 0;
  }
  .navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #75d6d6;
    height: 30px;
  }
  .logo{
    height: 100%;

  }

  .logo img{
    position: absolute;
    transform: translate(-40%, -35%);
    height: 130px;
  }

  .navigator ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    transition: all 0.9s ease;
  }

  .navigator ul li a{
    text-decoration: none;
    color: #101010;
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
    transition: all 0.9s ease;
  }

  .navigator ul li a i{
    margin-right: 5px;
  }
  /* Contenedor principal */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/pantalla2.png);
    background-size: cover;
    margin: 0 auto;
    padding: 6.3%;
  }

  /* Contenido interno */
  .content {
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  /* Sección de información */
  .informacion {
    width: 100%;
    background-color: #75d6d6;
    text-align: center;
    border-radius: 15px;
    height: 100%;
  }

  .informacion-childs {
    padding: 20px;
  }

  .informacion-childs h1 {
    font-size: 28px;
    color: #222;
    margin-bottom: 10px;
  }

  .informacion-childs p {
    font-size: 14px;
    color: #222;
    margin-bottom: 20px;
  }

  .informacion-childs a {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 15px;
  }

  /* Sección de formulario e información */
  .form-information {
    width: 100%;
    text-align: center;
    background-color: #FFF;
    border-radius: 15px;
    margin-top: 20px;
  }

  .form-information-childs {
    padding: 20px;
  }

  .form-information-childs h1 {
    font-size: 28px;
    color: #222;
    margin-bottom: 10px;
  }

  .form-information-childs .icons {
    margin-bottom: 10px;
  }

  .icons i {
    margin: 0 10px;
    border: 2px solid #75d6d6;
    padding: 10px;
    border-radius: 50%;
  }

  .form-information-childs .usar {
    font-size: 16px;
    color: #222;
    margin-bottom: 10px;
  }

  .form-information-childs form {
    width: 100%;
  }

  .lastname {
    margin: 10px 0;
  }

  .lastname input {
    width: 100%;
    border: 2px solid #101010;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .form-information-childs form button {
    width: 100%;
    height: 40px;
    background-color: #75d6d6;
    border: none;
    border-radius: 15px;
    color: #101010;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }

  /* Campos del formulario */
  .form-fields {
    margin-bottom: 1em;
  }

  .form-fields label {
    font-size: 14px;
    font-weight: bold;
  }

  .form-fields input {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
  }

  /* Botón de inicio de sesión */
  .login-button {
    width: 100%;
    height: 40px;
    background-color: #75d6d6;
    border: none;
    border-radius: 15px;
    color: #101010;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }

  /* Estilos para pantallas con ancho máximo de 785px */
  @media (max-width: 785px) {
    .navigator {
      padding: 10px;
    }

    .navigator ul li a {
      font-size: 12px;
    }
    .container{
      padding: 20px 50px;
      height: 100%;
    }

    .logo img {
      height: 40px;
    }

    .informacion-childs h1 {
      font-size: 24px;
      overflow: hidden;
    }

    .informacion-childs p {
      font-size: 12px;
      overflow: hidden;
    }

    .informacion-childs a {
      font-size: 14px;
      overflow: hidden;
    }

    .form-information-childs h1 {
      font-size: 24px;
    }

    .form-information-childs .usar {
      font-size: 14px;
    }

    .form-information-childs form button {
      font-size: 14px;
    }

    .form-fields label {
      font-size: 14px;
    }

    .form-fields input {
      padding: 8px;
      margin-bottom: 8px;
    }

    .login-button {
      font-size: 14px;
    }
  }
  @media (min-width: 786px) {
    .navigator {
      padding: 30px 50px; /* Ajusta el relleno para pantallas más grandes */

    }

    .navigator ul li a {
      font-size: 22px;
    }

    .logo img {
      height: 80px; /* Ajusta la altura del logo para pantallas más grandes */
      transform: translate(-50%, -50%); /* Ajusta la posición del logo */
    }

    .informacion-childs h1 {
      font-size: 32px;
      overflow: hidden;
    }

    .informacion-childs p {
      font-size: 16px;
      overflow: hidden;
    }

    .informacion-childs a {
      font-size: 18px;
      overflow: hidden;
    }

    .form-information-childs h1 {
      font-size: 32px;
      overflow: hidden;
    }

    .form-information-childs .usar {
      font-size: 18px;
      overflow: hidden;
    }

    .form-information-childs form button {
      font-size: 18px;
    }

    .form-fields label {
      font-size: 16px;
    }

    .form-fields input {
      padding: 12px;
      margin-bottom: 12px;
    }

    .login-button {
      font-size: 18px;
    }
  }
